/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../../../node_modules/codemirror/lib/codemirror.css';
@import 'styles/icon';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

:root {
  --primary: #e56b6f;
  --primary-transparent-10: rgba(230, 108, 112, 0.1);
}

.flare-composer {
  &-actionbar {
    @apply hidden;
  }
  &-content {
    @apply h-full p-4 outline-none;
  }
  &-link {
    @apply text-primary;
  }
}
.CodeMirror {
  @apply h-full;
  font-family: Fira Code, Consolas, DejaVu Sans Mono, monospace !important;
}

.modal-title {
  @apply text-xl font-semibold;
}
